/* ------------------------------ Creative Team --------------------- */
.creative-team h2
{
    font-size: 38px;
}
.creative-team p
{
    color: #787878;
}
.team-caption
{
    background-color: rgba(0, 195, 218, 0.9);
    width: 100%;
    height: 100%;
    position:absolute;
    top: 10%;
    left: 0%;
    opacity: 0;
    transition: all 1s;
}
.team-member:hover .team-caption
{
    top: 0%;
    opacity: 1
}
.team-caption li
{
    display: inline;
}
.member-info
{
    position: absolute;
    bottom: 10;
    left:10;    
}

/* ------------------------------------------------------------------ */

/* ------------------------------ what we do ------------------------ */
.we-do
{
    background-image: url(../images/bg-image-26.jpg);
    background-size: cover; 
}
.what-we-do
{
    background-color: rgba(0,0,0,0.5);
}
.we-do-ico h4
{
    font-size: 13px;
}

.we-do-caption ul
{
   list-style-type:none;
}

.we-do-caption .we-do-h2:before
{
    content: "W";
    position: absolute;
    width: 100px;
    height: 10px;
    color: rgba(1,1,1,0.2);
    font-size: 70px;
    left: 7%;
    top:10%;
}
/* ------------------------------------------------------------------ */