






.mm
{
    border: 4px solid #fff;
    position: relative;
    
    overflow: hidden;
}
.mm img
{
    width:100%;
    transition: transform 1s 1s;
}

.mm:hover img
{
    transform: scale(1.2,1.2);
}
.llll
{
    width: 25%;
    float: left;
    padding: 20px;
}
.mm .cc
{
    height: 100%;
    width: 100%;
    background-color: rgba(41,63,85,.7);
    position: absolute;
    opacity: 0;
    transition: transform 1s,opacity 1s;
    top:0;
    text-align: center;
    color: #fff;
}
.mm:hover .cc
{
    opacity: 1;
    transform: rotate(720deg);
}
.mm .cc h2
{
    background-color: rgba(21,21,21,0.4);
    padding: 20px;
    left: 120%;
    transition: left 1s 2s;
    position: relative;

}
.mm .cc p
{
    padding: 30px;
    font-size: 20px;
    left: 120%;
    transition: left 1s 2.5s;
    position: relative;
}
.mm:hover .cc h2
{
      left:0; 
}
.mm:hover .cc p
{
      left:0; 
}










/* ------------------------------ Creative Team --------------------- */
.creative-team h2
{
    font-size: 38px;
}
.creative-team p
{
    color: #787878;
}
.team-caption
{
    background-color: rgba(0, 195, 218, 0.9);
    width: 100%;
    height: 100%;
    position:absolute;
    top: 10%;
    left: 0%;
    opacity: 0;
    transition: all 1s;
}
.team-member:hover .team-caption
{
    top: 0%;
    opacity: 1
}
.team-caption li
{
    display: inline;
}
.member-info
{
    position: absolute;
    bottom: 10;
    left:10;    
}

/* ------------------------------------------------------------------ */

/* ------------------------------ what we do ------------------------ */
.we-do
{
    background-image: url(../images/bg-image-26.jpg);
    background-size: cover; 
}
.what-we-do
{
    background-color: rgba(0,0,0,0.5);
}
.we-do-ico h4
{
    font-size: 13px;
}

.we-do-caption ul
{
   list-style-type:none;
}

.we-do-caption .we-do-h2:before
{
    content: "W";
    position: absolute;
    width: 100px;
    height: 10px;
    color: rgba(1,1,1,0.2);
    font-size: 70px;
    left: 7%;
    top:10%;
}
/* ------------------------------------------------------------------ */

/* ------------------------------ Our Work -------------------------- */
.line
{
    height: 1px;
    background-color: black;
    width: 5%;
    margin: auto;
    transition: width 0.5s;
}
.our-work-h:hover .line
{
    width: 8%;
}
.ourwork-ul li
{
    border: #26CCDF 1px solid;
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
}
.item
{
    overflow: hidden;
}
.items-caption
{
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: -100%;
    background-color: whitesmoke;
    transition: bottom 1s;
}
.item:hover .items-caption
{
    bottom: 5%;
}
.item img
{
    width: 100%;
    transition: transform 1s;
}
.item:hover img
{
    transform: scale(1.2 , 1.2);
}
.items-caption p
{
    position:relative;
    left: 120%;
    transition: left 1s 2s;
}
.item:hover .items-caption p
{
    left: 0%;
}
.items-caption h4
{
    position:relative;
    left: 120%;
    transition: left 1s 1s;
}
.item:hover .items-caption h4
{
    left: 0%;
}
/* ------------------------------------------------------------------ */

/* ---------------------------------Get In Touch--------------------------------- */
.contact-p
{
    color: #787878;
    font-size: 18px;
}
textarea.form-control 
{
    height: 100px;
}

/* ------------------------------------------------------------------ */
/* ----------------------Copyright-----------------------*/
.copyright
{
    width: 100%;
    padding: 25px;
    background-color: black;
    overflow: hidden;
}
.copyright p
{
    color: #58606b;
}
/* --------------------------------------------------*/








/* -----------Poula Section------------------------*/



